# Dependencies
node_modules/
**/node_modules/

# Environment
.env
.env.local
.env.production

# Uploads
backend/uploads/
frontend/icons/*.png

# Logs
logs/
*.log
npm-debug.log*

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# MongoDB
*.lock

# PM2
.pm2/
